.body{
    background-color: lightskyblue;
    
    
}


.contenido{
      float: left;
     margin: 100px;
    margin-top: auto;
}

.container{
    float: left;
    margin: 100px;
    margin: auto;
   

}


 