.main-header{
    position: relative;
    background-image: url(armando.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 605px;
}

.background-overlay{
    position: absolute;
    background: rgba(95, 98, 93,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
}