body{background-image: url(lixuere5.jpg);
    font-family: Ananda Black Personal Use;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.wows{
    width: 65%;
    height: 30%; 
    top: 10px;
}
    
    



